<section id="app-header">
    <div class="col-4">
        <div class="input-group search-box">
            <span class="input-group-text" id="search">
                <i class="bi bi-search"></i>
            </span>
            <input type="text" class="form-control" placeholder="Search..." aria-label="search" aria-describedby="search">
        </div>
    </div>
    <div class="col-8 header-right-menu">
        <div class="select-language">
            <select class="form-select" aria-label="select_language">
                <option selected value="eng">Eng</option>
                <option value="hindi">Hindi</option>
                <option value="fr">Fr</option>
            </select>
        </div>
        <div>
            <i class="bi bi-chat-right-text"></i>
        </div>
        <div>
            <i class="bi bi-bell"></i>
        </div>
        <div class="user-profile">
            <img src="../../assets/profile-logo.png" alt="profile-image"/>
            <span>Akash Khalse<i class="bi bi-caret-down-fill"></i></span>
        </div>
    </div>

</section>
