<table class="table">
    <tbody>
        <thead>
            <th>#</th>
            <th>Customer</th>
            <th>Products</th>
            <th>Delivery Date</th>
            <th>Status</th>
            <th>Tracking No#</th>
            <th>Shipping</th>
        </thead>
        <tr *ngFor="let rows of tableData; let i = index;">
            <td>{{rows.id}}</td>
            <td>{{rows.name}}</td>
            <td>{{rows.product}}</td>
            <td>{{rows.delivery_date}}</td>
            <td>{{rows.status}}</td>
            <td>{{rows.tracking_no}}</td>
            <td>{{rows.shipping}} <i class="bi bi-x"></i></td>
        </tr>
    </tbody>
  </table>
