
<div class="menu-icon">
    <i class="bi bi-list"></i>
</div>
<div class="menu-items">
    <ul>
        <li>
            <i class="bi bi-box"></i>
        </li>
        <li>
            <i class="bi bi-bar-chart"></i>
        </li>
        <li>
            <i class="bi bi-plus-square"></i>
        </li>
        <li>
            <i class="bi bi-check-lg"></i>
        </li>
        <li>
            <i class="bi bi-gear"></i>
        </li>
        <li>
            <i class="bi bi-download"></i>
        </li>
    </ul>
</div>