#registrations-card {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    width: 100%;
    text-align: left;
    .reg-card-image {
        width: 10%;
        padding: 1px;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
    }
    .reg-card-user-data {
        width: 25%;
        margin: 0px 10px;
        >span{
            display: block;
            font-size: 16px;
            font-weight: 500;
        }
        >label {
            display: block;
            font-size: 11px;
            font-weight: 300;
        }
    }
    .reg-card-progress {
        width: 40%;
        margin: 15px 10px 0px 10px;
    }
    .reg-card-button {
        width: 60px;
        height: 30px;
        font-size: 15px;
        position: relative;
        top: 5px;
        line-height: 15px;
        &:hover {
            background: blue;
            color: #FFFFFF;
        }
    }
}