#new-user-registrantions {
    background: #FFFFFF;
    border-radius: 5px;
    margin: 20px;
    width: 40%;
    display: inline-block;
    height: 450px;
    overflow-y: scroll;
    padding-bottom: 20px;
    .registrations-data {
        padding: 20px;
    }
}